/*

Css Chart created by Alen Grakalic
Brought to you by Css Globe (cssglobe.com)

*/ul.xAxis{margin:0 0 0 27px;padding:0;float:left;clear:left;display:inline;width:600px;}
ul.yAxis{margin:14px 0 0 0;padding:0;display:inline;float:left;}
ul.xAxis li{float:left; list-style:none;width:33px;text-align:center;}
ul.yAxis li{
    list-style:none;
    height:33px;
    text-align:right;
    float:left;
    clear:left;
}
dl#csschart, dl#csschart dt, dl#csschart dd{
    margin:0;
    padding:0;
}
dl#csschart{
    background:url(/public/css/bg_chart.gif) no-repeat 0 0;
    width:600px;
    height:360px;
    padding-left:11px;
    float:left;
}
dl#csschart dt{
    display:none;
}
dl#csschart dd{
    position:relative;
    float:left;
    display:inline;
    width:33px;
    height:330px;
    margin-top:22px;
}
dl#csschart span{
    position:absolute;
    display:block;
    width:33px;
    bottom:0;
    left:0;
    z-index:1;
    color:#555;
    text-decoration:none;
}
dl#csschart span b{
    display:block;
    font-weight:bold;
    font-style:normal;
    float:left;
    line-height:200%;
    color:#fff;
    position:absolute;
    top:5px;
    left:3px;
    text-align:center;
    width:23px;
}

/* default column styling */

dl#csschart span{
    height:50%;
    background:url(/public/css/bar.png) repeat-y;
}


dl#csschart .sub{
    margin-left:-33px;

}
dl#csschart .sub span{
    background:url(/public/css/subBar.png) repeat-y;
}

/* // column types */

/* percentages */

dl#csschart .p0 span{height:0%}
dl#csschart .p1 span{height:1%}
dl#csschart .p2 span{height:2%}
dl#csschart .p3 span{height:3%}
dl#csschart .p4 span{height:4%}
dl#csschart .p5 span{height:5%}
dl#csschart .p6 span{height:6%}
dl#csschart .p7 span{height:7%}
dl#csschart .p8 span{height:8%}
dl#csschart .p9 span{height:9%}
dl#csschart .p10 span{height:10%}
dl#csschart .p11 span{height:11%}
dl#csschart .p12 span{height:12%}
dl#csschart .p13 span{height:13%}
dl#csschart .p14 span{height:14%}
dl#csschart .p15 span{height:15%}
dl#csschart .p16 span{height:16%}
dl#csschart .p17 span{height:17%}
dl#csschart .p18 span{height:18%}
dl#csschart .p19 span{height:19%}
dl#csschart .p20 span{height:20%}



/* // percentages */





